module.exports = {
  transform: {
    '^.+\\.tsx?$': 'ts-jest',
  },
  rootDir: 'src',
  testMatch: ['**/*.test.ts'],
  setupFiles: ['@advinans/belt-env/register'],
  moduleFileExtensions: ['js', 'jsx', 'json', 'ts', 'tsx'],
  globalSetup: './test-global-setup',
  globalTeardown: './test-global-teardown'
};
